// Map
#mapid {
  height: 400px;
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}


// Image Gallery
.image-gallery {
  overflow: auto;
  margin-left: -1%!important;
}

.image-gallery li {
  float: left;
  display: block;
  margin: 0 0 1% 1%;
  width: 32%;
  @include media-query($on-palm) {
      width: 49%;
  }
}

.image-gallery li a {
  text-align: center;
  text-decoration: none!important;
  color: #777;
}
.image-gallery li a span {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 3px 0;
}
.image-gallery li a img {
  width: 100%;
  display: block;
}